Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# Clean Adapter
RewriteCond %{REQUEST_FILENAME} !index.php$
RewriteRule ([a-z]+)/([a-z0-9]+)/([a-z]+)/?$ products/history.js/tests/frame.php?dir=$1&support=$2&adapter=$3 [NC,L,QSA]
