Options +FollowSymlinks
RewriteEngine On

# Clean Adapter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ([^\.]+)$ $1.html [NC,L,QSA]

# Can someone smarter than me make it so:
# http://localhost/history.js/tests/uncompressed-html5-persistant-jquery
# Does not redirect to:
# http://localhost/history.js/tests/uncompressed-html5-persistant-jquery.html
# But still accesses that url
